.login-container {
  height: 700px;
  margin-top: -29px;
}

.logo-login {
  height: 60px;
}

.header-inner {
  margin-left: 100px;
}

b {
  font-weight: 500;
}

#menu-awesome {
  font-size: 2em;
  margin-top: 15px;
  margin-left: 40px;
  margin-right: 40px;
  /*//text-shadow: 1px 1px 1px #ccc;*/
}

#user-awesome {
  font-size: 2em;
  margin-top: 15px;
  margin-left: 40px;
  margin-right: 40px;
}

#cog-awesome {
  font-size: 2em;
  margin-top: 15px;
  margin-left: 40px;
  margin-right: 20px;
}

#sign-out-awesome {
  font-size: 2em;
  margin-top: 15px;
  margin-left: 40px;
  margin-right: 20px;
}

#hi-panel {
  font-size: 1.5em;
  margin-top: 15px;
  margin-left: 40px;
  margin-right: 20px;
}

.counter-widget {
  margin-left: 15px !important;
  margin-right: 15px !important;
  margin-top: 30px !important;
  width: 300px;
}

.counter {
  margin-left: 20px;
}

.bg-blue {
  background-color: #106ecf;
}

.bg-red {
  background-color: #f55753;
}

.bg-yellow {
  background-color: #f8d053;
}

.white-box {
  width: 400px;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 10px;
  background-color: white;
  height: 200px;
  padding-left: 10px;
  padding-right: 10px;
}
